## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [39]:
ppl=np.random.randint(10000000,size=4)
ppl

array([7843068, 6357788, 9535642, 7985712])

In [40]:
data = {'國家':['Austin', 'Dallas', 'Aus', 'itly'],
        '人口':ppl}
pplcount = pd.DataFrame(data)
pplcount

       國家       人口
0  Austin  7843068
1  Dallas  6357788
2     Aus  9535642
3    itly  7985712

In [46]:
#取['人口']最高值
pplcount.loc[pplcount['人口'].idxmax()]

國家        Aus
人口    9535642
Name: 2, dtype: object

In [ ]:
#取group內最高值的寫法
#https://stackoverflow.com/questions/15705630/python-getting-the-row-which-has-the-max-value-in-groups-using-groupby
pplcount.groupby(by='國家')['人口'].max()