## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [3]:
import os
import numpy as np
import pandas as pd

#DataFrame入門 https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8

In [4]:
# 設定 data_path
dir_data = './data/'

In [5]:
f_app = os.path.join(dir_data, 'HomeCredit_columns_description.csv')
print('Path of read in data: %s' % (f_app))
#編碼是ANSI encoding='iso-8859-1'
app_train = pd.read_csv(f_app,encoding='iso-8859-1')

Path of read in data: ./data/HomeCredit_columns_description.csv

#### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [7]:
print("資料的 row 數 = "+str(app_train.iloc[:,0].size))
print("資料的 column 數 = "+str(app_train.columns.size))
print(app_train.shape)

資料的 row 數 = 219
資料的 column 數 = 5
(219, 5)

#### 列出所有欄位

In [8]:
app_train.columns

Index(['Unnamed: 0', 'Table', 'Row', 'Description', 'Special'], dtype='object')

#### 截取部分資料

In [26]:
app_train.head(10)

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN
5,8,application_{train|test}.csv,FLAG_OWN_REALTY,Flag if client owns a house or flat,NaN
6,9,application_{train|test}.csv,CNT_CHILDREN,Number of children the client has,NaN
7,10,application_{train|test}.csv,AMT_INCOME_TOTAL,Income of the client,NaN
8,11,application_{train|test}.csv,AMT_CREDIT,Credit amount of the loan,NaN
9,12,application_{train|test}.csv,AMT_ANNUITY,Loan annuity,NaN

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [31]:
#切片
app_train.iloc[:5, 1:4]

,Table,Row,Description
0,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample
1,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...
2,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving
3,application_{train|test}.csv,CODE_GENDER,Gender of the client
4,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car

In [32]:
app_train.axes

[RangeIndex(start=0, stop=219, step=1),
 Index(['Unnamed: 0', 'Table', 'Row', 'Description', 'Special'], dtype='object')]

In [34]:
app_train.size

1095

In [40]:
#nan值取代成0
format_app_train=app_train.fillna(value=0)
format_app_train.head(20)

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,0
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,0
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,0
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,0
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,0
5,8,application_{train|test}.csv,FLAG_OWN_REALTY,Flag if client owns a house or flat,0
6,9,application_{train|test}.csv,CNT_CHILDREN,Number of children the client has,0
7,10,application_{train|test}.csv,AMT_INCOME_TOTAL,Income of the client,0
8,11,application_{train|test}.csv,AMT_CREDIT,Credit amount of the loan,0
9,12,application_{train|test}.csv,AMT_ANNUITY,Loan annuity,0
10,13,application_{train|test}.csv,AMT_GOODS_PRICE,For consumer loans it is the price of the good...,0
11,14,application_{train|test}.csv,NAME_TYPE_SUITE,Who was accompanying client when he was applyi...,0
12,15,application_{train|test}.csv,NAME_INCOME_TYPE,"Clients income type (businessman, working, mat...",0
13,16,application_{train|test}.csv,NAME_EDUCATION_TYPE,Level of highest education the client achieved,0
14,17,application_{train|test}.csv,NAME_FAMILY_STATUS,Family status of the client,0
15,18,application_{train|test}.csv,NAME_HOUSING_TYPE,What is the housing situation of the client (r...,0
16,19,application_{train|test}.csv,REGION_POPULATION_RELATIVE,Normalized population of region where client l...,normalized
17,20,application_{train|test}.csv,DAYS_BIRTH,Client's age in days at the time of application,time only relative to the application
18,21,application_{train|test}.csv,DAYS_EMPLOYED,How many days before the application the perso...,time only relative to the application
19,22,application_{train|test}.csv,DAYS_REGISTRATION,How many days before the application did clien...,time only relative to the application